.main-index {
    background-image: linear-gradient(
        to right,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,0.85) 40%,
        rgba(255,255,255,0.45) 55%,
        rgba(255,255,255,0) 70%
      ), url(../images/background-booktracker2.jpg);
      object-fit: cover;
      background-repeat: no-repeat;
      background-position: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease;
}