{% extends "layout.html" %}

{% block title %}
| Add Book
{% endblock %}

{% block body %}
<body class="w-[100vw] h-[100vh] flex bg-[#F9F4F0] overflow-x-hidden">
    <header>
        <nav class="flex justify-between items-center w-full h-[80px] bg-[#EEE6E7] px-10 shadow-md fixed top-0 left-0 z-2">
            <div class="flex justify-start items-center gap-1 cursor-pointer">
                <img src="../static/images/book (2).png" alt="book-icon" class="w-[42px] h-[40px]">
                <p class="text-2xl font-medium font-serif text-[#30231D]">Book<span class="text-[#7E252C]">Track</span></p>
            </div>
            <div class="flex gap-5 justify-end items-center">
                <a href="/profile"  class="hover:underline">Profile</a>
                <a href="/logout" class="hover:underline">Logout</a>
            </div>
        </nav>
    </header>
    <main class="flex items-center w-full min-h-screen flex-col  
    {% if not results %}
    justify-center
    {% else %}
    pt-24
    {% endif %}
    ">
        <div class="flex items-center justify-center mb-5 flex-col">
            <h1 class="text-3xl font-serif font-semibold text-[#513635] mb-4 {% if results %}
            mt-8
            {% endif %}">Add a book</h1>
            <p class="text-xl mb-6 text-black/70">Search for a book by title</p>
        </div>

        <form method="GET" action="/add" class="flex gap-4 items-center justify-center">
            <div class="flex justify-center items-center">
                <div class="relative">
                    <img src="../static/images/magnifying-glass.png" alt="search" class="absolute left-3 top-1/2 -translate-y-1/2 w-[18px] opacity-50">
                    <input type="text" name="search" placeholder="Search books..." class="pl-10 pr-4 py-2 w-[280px] rounded-md border border-black/30 bg-[#EEE6E7] focus:outline-none focus:ring-2 focus:ring-[#7E252C]">
                </div>
            </div>
            <button class="bg-[#7E252C] text-white px-6 h-[42px] rounded-md hover:bg-[#661f25] transition cursor-pointer">Search</button>
        </form>
        {% if results %}
        <div class="mt-10 w-full max-w-3xl animate-fade-in">
            {% for book in results %}
            <div class="flex justify-between items-center bg-white p-4 rounded-md shadow mb-5">
        <div class="flex gap-4">
            {% if book.thumbnail %}
                <img class="w-32 rounded" src="{{ book.thumbnail }}" alt="{{ book.title }} img">
            {% else %}
                <img src="../static/images/no-cover.png" alt="no thumbnail available" class="w-32 rounded">
            {% endif %}
            <div>
                <h2 class="font-semibold">{{ book.title }}</h2>
                <p class="font-normal mb-1">{{ book.authors }}</p>
                <p class="text-sm text-black/60 line-clamp-4">Description: {{ book.description }}</p> 
            </div>
        </div>
        <button class="bg-[#7E252C] text-white px-4 py-2 rounded-md hover:bg-[#661f25] transition ml-6 cursor-pointer"
        data-google-id="{{ book.google_id }}"
        data-title="{{ book.title }}"
        data-authors="{{ book.authors }}"
        data-thumbnail="{{ book.thumbnail }}"
        data-description="{{ book.description }}"
        onclick="openModal(this)">
            Add
        </button>
    </div>
            {% endfor %}
        </div>
        {% endif %}

        <div id="modal" class="hidden fixed flex top-0 left-0 items-center inset-0 bg-black/40 justify-center">
            <div class="bg-white p-6 rounded-md w-[520px] flex justify-center items-center flex-col gap-4">
                <h1 class="text-3xl font-semibold mb-2">Status</h1>
                <form class="flex gap-5 mb-2" method="POST" action="/add">
                    <input type="hidden" name="google_id" id="modal_google_id">
                    <input type="hidden" name="title" id="modal_title">
                    <input type="hidden" name="authors" id="modal_authors">
                    <input type="hidden" name="thumbnail" id="modal_thumbnail">
                    <input type="hidden" name="description" id="modal_description">

                    <div>
                        <button class="w-32 h-32 rounded-xl bg-[#2E7D32] text-white text-xl font-semibold shadow-md hover:bg-[#256528] hover:shadow-lg hover:-translate-y-1 transition-all ease-out cursor-pointer" name="status" value="finished">Read</button>
                    </div>
                    <div>
                        <button class="w-32 h-32 bg-[#C58B2E] rounded-xl text-white text-xl font-semibold shadow-md hover:bg-[#B07A25] hover:shadow-lg hover:-translate-y-1 transition-all ease-out cursor-pointer" name="status" value="reading">Reading</button>
                    </div>
                    <div>
                        <button class="w-32 h-32 bg-[#7E252C] rounded-xl text-white text-xl font-semibold shadow-md hover:bg-[#661f25] hover:shadow-lg hover:-translate-y-1 transition-all ease-out cursor-pointer" name="status" value="to_read">Will Read</button>
                    </div>
                </form>
        
                <button onclick="closeModal()" class="text-lg text-blue-800 hover:underline cursor-pointer">
                    Close
                </button>
            </div>
        </div>
    </main>
    <script src="../static/js/modal.js"></script>
</body>

{% endblock %}