{% extends "layout.html" %}

{% block title %}
| Profile
{% endblock %}

{% block body %}
<body class="w-full h-full flex overflow-x-hidden bg-[#F9F4F0]">
    <header>
        <nav class="grid grid-cols-3 items-center w-full h-[80px] bg-[#EEE6E7] px-10 shadow-md fixed top-0 left-0">
            <div class="flex justify-start items-center gap-1 cursor-pointer">
                <img src="../static/images/book (2).png" alt="book-icon" class="w-[42px] h-[40px]">
                <p class="text-2xl font-medium font-serif text-[#30231D]">Book<span class="text-[#7E252C]">Track</span></p>
            </div>
            <div class="flex justify-center items-center">
                <div class="relative">
                    <form action="/add" method="GET">
                        <img src="../static/images/magnifying-glass.png" alt="search" class="absolute left-3 top-1/2 -translate-y-1/2 w-[18px] opacity-50">
                        <input type="text" name="search" placeholder="{{ t.profile_search }}" class="pl-10 pr-4 py-2 w-[280px] rounded-md border border-black/30 bg-[#EEE6E7] focus:outline-none focus:ring-2 focus:ring-[#7E252C]">
                    </form>
                </div>
            </div>
            <div class="flex gap-5 justify-end items-center">
                <a href="/logout" class="hover:underline">Logout</a>
            </div>
        </nav>
    </header>
    <main class="w-full px-10
    {% if books %}
    pt-24 pb-20 flex flex-col gap-12
    {% else %}
    h-[100vh] pt-[80px] flex items-center justify-center flex-col
    {% endif %}">
        <div class="flex flex-col items-center justify-center {% if books %} mt-[80px] {% endif %}">
            <h1 class="text-4xl font-semibold text-[#513635] mb-4">
                {% if books %}
                {{ t.profile_welcome.others }}, {{ username }}
                {% else %}
                {{ t.profile_welcome.first }}, {{ username }}
                {% endif %}
            </h1>
            <p class="text-2xl mb-6 text-black/70">{{ t.profile_tagline }}</p>
            <a href="/add" class="bg-[#A8484E] text-white px-8 py-3 font-semibold cursor-pointer rounded-md hover:bg-[#c95159] transition shadow-sm">
                {% if books %}
                    {{ t.profile_button.others }}
                {% else %}
                    {{ t.profile_button.first }}
                {% endif %}
            </a>
             <hr class="w-[900px] border-t-2 border-black/30 mt-13 mb-8">
        </div>
       
        {% if books %}
        <div class="flex gap-12 flex-col">

        {% if finished_books %}
        <div class="flex items-center justify-center flex-col">
        <h2 class="text-2xl mb-5 font-semibold text-[#513635]">{{ t.profile_books.finished_books }}</h2>

        <div class="grid grid-cols-3 gap-4">
        {% for book in finished_books %}
            <div class="flex gap-4 bg-white rounded-md shadow-sm hover:shadow-md p-4 transition-all">
                

                <div class="flex-shrink-0">
                    {% if book.thumbnail and book.thumbnail != 'None' %}
                    <img src="{{ book.thumbnail }}" alt="{{ book.title }}" class="w-20 h-28  object-cover rounded">
                    {% else %}
                    <img src="../static/images/no-cover.png" class="w-20 h-28" alt="No cover">
                    {% endif %}
                </div>

                <div class="flex flex-col justify-between">
                    <div>
                        <h3 class="font-semibold text-lg ">{{ book.title }}</h3>
                        <p class="text-sm text-black/70">{{ book.authors }}</p>
                    </div>

                    <span class="text-xs font-medium text-green-700 bg-green-100 w-fit px-2 py-1 rounded mt-2">
                        {{ t.profile_finished }}
                    </span>
                
                
                
                <div class="flex">
                    <button class="text-xs text-yellow-600 hover:underline px-2 cursor-pointer" onclick="openModalProfile('{{ book.id }}')">{{ t.profile_update }}</button>

                    <form action="/books/{{ book.id }}/delete" method="POST" class="flex">
                    <button class="text-xs text-red-600 hover:underline px-2 cursor-pointer">
                        {{ t.profile_remove }}
                    </button>
                </form>
                </div>
                </div>
                

                
            </div>
        {% endfor %}
        </div>
        </div>
        {% endif %}

        {% if reading_books %}
        <div class="flex items-center justify-center flex-col">
        <h2 class="text-2xl mb-5 font-semibold text-[#513635]">{{ t.profile_books.reading_books }}</h2>

        <div class="grid grid-cols-3 gap-4">
        {% for book in reading_books %}
            <div class="flex gap-4 bg-white rounded-md shadow-sm hover:shadow-md p-4 transition-all">

                <div class="flex-shrink-0">
                    {% if book.thumbnail and book.thumbnail != 'None' %}
                    <img src="{{ book.thumbnail }}" alt="{{ book.title }}" class="w-20 h-28  object-cover rounded">
                    {% else %}
                    <img src="../static/images/no-cover.png" class="w-20 h-28" alt="No cover">
                    {% endif %}
                </div>

                <div class="flex flex-col justify-between">
                    <div>
                        <h3 class="font-semibold text-lg ">{{ book.title }}</h3>
                        <p class="text-sm text-black/70">{{ book.authors }}</p>
                    </div>

                    <span class="text-xs font-medium text-[#C58B2E] bg-[#C58B2E]/10 w-fit px-2 py-1 rounded mt-2">
                        {{ t.modal_reading }}
                    </span>
                    <div class="flex">
                    <button class="text-xs text-yellow-600 hover:underline px-2 cursor-pointer" onclick="openModalProfile('{{ book.id }}')">{{ t.profile_update }}</button>

                    <form action="/books/{{ book.id }}/delete" method="POST" class="flex">
                    <button class="text-xs text-red-600 hover:underline px-2 cursor-pointer">
                        {{ t.profile_remove }}
                    </button>
                </form>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
        {% endif %}
        
        {% if to_read_books %}
        <div class="flex items-center justify-center flex-col">
        <h2 class="text-2xl mb-5 font-semibold text-[#513635]">{{ t.profile_books.to_read_books }}</h2>

        <div class="grid grid-cols-3 gap-4">
        {% for book in to_read_books %}
        <div class="flex gap-4 bg-white rounded-md shadow-sm hover:shadow-md p-4 transition-all">

                <div class="flex-shrink-0">
                    {% if book.thumbnail and book.thumbnail != 'None' %}
                    <img src="{{ book.thumbnail }}" alt="{{ book.title }}" class="w-20 h-28  object-cover rounded">
                    {% else %}
                    <img src="../static/images/no-cover.png" class="w-20 h-28" alt="No cover">
                    {% endif %}
                </div>

                <div class="flex flex-col justify-between">
                    <div>
                        <h3 class="font-semibold text-lg ">{{ book.title }}</h3>
                        <p class="text-sm text-black/70">{{ book.authors }}</p>
                    </div>

                    <span class="text-xs font-medium text-[#7E252C] bg-[#7E252C]/10 w-fit px-2 py-1 rounded mt-2">
                        {{ t.profile_books.to_read_books }}
                    </span>

                    <div class="flex">
                    <button class="text-xs text-yellow-600 hover:underline px-2 cursor-pointer" onclick="openModalProfile('{{ book.id }}')">{{ t.profile_update }}</button>

                    <form action="/books/{{ book.id }}/delete" method="POST" class="flex">
                    <button class="text-xs text-red-600 hover:underline px-2 cursor-pointer">
                        {{ t.profile_remove }}
                    </button>
                </form>
                </div>
                </div>

                
            </div>
        {% endfor %}
        </div>
        </div>
        {% endif %}
        </div>
        {% else %}
            <div class="flex flex-col items-center justify-center">
                <img src="../static/images/empty-state-books.png" alt="state-books" class="w-[420px]">
                <h2 class="text-2xl font-semibold text-[#513635] mb-4">{{ t.profile_no_books_title }}</h2>
                <p class="text-xl text-black/70">{{ t.profile_no_books_subtitle }}</p>
            </div>
    {% endif %}
    <div id="modal" class="hidden fixed flex top-0 left-0 items-center inset-0 bg-black/40 justify-center">
            <div class="bg-white p-6 rounded-md w-[520px] flex justify-center items-center flex-col gap-4">
                <h1 class="text-3xl font-semibold mb-2">Status</h1>
                <form class="flex gap-5 mb-2" method="POST" id="updateForm">
                    <input type="hidden" name="google_id" id="modal_google_id">

                    <div>
                        <button class="w-32 h-32 rounded-xl bg-[#2E7D32] text-white text-xl font-semibold shadow-md hover:bg-[#256528] hover:shadow-lg hover:-translate-y-1 transition-all ease-out cursor-pointer" name="status" value="finished">{{ t.modal_read }}</button>
                    </div>
                    <div>
                        <button class="w-32 h-32 bg-[#C58B2E] rounded-xl text-white text-xl font-semibold shadow-md hover:bg-[#B07A25] hover:shadow-lg hover:-translate-y-1 transition-all ease-out cursor-pointer" name="status" value="reading">{{ t.modal_reading }}</button>
                    </div>
                    <div>
                        <button class="w-32 h-32 bg-[#7E252C] rounded-xl text-white text-xl font-semibold shadow-md hover:bg-[#661f25] hover:shadow-lg hover:-translate-y-1 transition-all ease-out cursor-pointer" name="status" value="to_read">{{ t.modal_will_read }}</button>
                    </div>
                </form>
        
                <button onclick="closeModal()" class="text-lg text-blue-800 hover:underline cursor-pointer">
                    {{ t.modal_close }}
                </button>
            </div>
        </div>
    </main>
    <script src="../static/js/modal.js"></script>
</body>
{% endblock %}